.blocTabs {
  display: flex;           /* 가로 배치 */
  justify-content: space-evenly; /* 가운데 정렬 */
  /* gap: 30px; 블록 간 사이 간격 css ㄷㄷ 이런 게 있네 ㄷㄷ그러게 뭐냐 첨 봄 */
}

.tabs {
  padding: 1vw 2vw; /* 5px 10px */
  cursor: pointer;
  color: #999;
  font-weight: normal;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
  font-size: 17px;  /* ios default font size는 17pt, android는 16-20pt 사이 권장 */
  margin-right: 2vw;
}

.activeTabs {
  color: #000;
  font-weight: bold;
  border-bottom: 3px solid #ddd;

}
.refreshButton {
  position: fixed;   /* 화면 기준 고정 */
  bottom: 4rem;    /* 하단에서 4rem */
  right: 1.5rem;     /* 오른쪽에서 1.5rem */
  z-index: 1000;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
  transition: background 0.2s, transform 0.1s;
}

.refreshButton:hover {
  background-color: #555;
  transform: scale(1.05); /* 살짝 커지는 효과 */
}
